@charset "UTF-8";
footer{
	
	background:$ev-black2;
	padding:0 1.5rem 3rem 1.5rem;
	overflow:hidden;

	&::before{
		content:'';
		display:block;
		width: 21rem;
    	height: 3.5rem;
		overflow:hidden;
		@include ico('logo', left bottom, cover);
		margin:1rem auto;
	}

	.logo{
		
	}

	@media (map-get($rd-types, lg)){
	
		.logo{
			width:16rem;
			height:5rem;
		}

	}
}
