@charset "UTF-8";

.s_video{
	
	
	article{
		padding:1.5rem 1.5rem 0 1.5rem;
		background:$ev-grey4;

		h3{
		@extend %head_type3;
		@extend %fontbold;
		margin:0 0 2rem 0;
		line-height: 3.2rem;
		}

		h4{
			
			@extend %head_type4;
			@extend %fontbold;
			margin:0 0 1rem 0;
			line-height: 3.2rem;

		}

		p{
			@extend %fontnormal;
			@extend %body_type2;
			
			line-height: 1.8;
			margin:0 0 2rem 0;
		}
		.slick-slider{
			
			padding:0 0 4rem 0;
			position:realative;
			.slick-slide{
				width: 24rem;
				margin:0 0 0 1.4rem;
			}
			.slick-list{
				padding:0;
			    width: 24rem;
			    margin: 0 auto;
			}
			.slick-dots{
				bottom:1rem;
				overflow:hidden;
				height:2.1rem;
				li{
					height:2rem;
					width:2rem;
				}
			}
			.video_des{
				display:grid;
				width:100%;
				height:20rem;
				border-radius:0.5rem;
				@include imgBack('code','.jpg', left top);
				a{
					margin:auto;
				}
			}
		}
		
	}

	@media (map-get($rd-types, md)){
		article{
			padding:3rem;

			.slick-slider{
				padding:0 0 2rem 0;
				.video_des{
			 		width:78%;
			 		margin:0 auto;
			 	}

			 	.slick-slide,.slick-list{
					width:62rem;
				}

				.slick-dots{
					bottom:-1rem;
					overflow:hidden;
					height:2rem;
					li, button{
						height:1.4rem;
						width:1.4rem;
					}
				}
			}
		}

	}
	@media (map-get($rd-types, lg)){
		article{
			.slick-slider{
				.slick-slide,.slick-list{
					width:85rem;
				}
			}
		}
	}
}
