@charset "UTF-8";

.submenu{
    display:block;
	position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #f7f8fb;
    z-index: 99;
    padding: 0 1.5rem;
    transition: transform .4s;

    &.open{
        transform: translateX(0);
    }

    ul{
    	padding:2rem 0 0 0;
    	margin:0;

	    & > li{

		    list-style-type: none;
		    padding-left: 0;
		    text-align: left;
		    a{
		    	   
				text-decoration: none;
                 font-size: 1.2rem;
                 @extend %fontnormal;
			    color: #757c8b;
			    padding: 4px 0;
			    display: block;
			    transition: color .2s;

				    &.selected{
						color: #4a5366;
    					font-weight: 600;
					}

                    &:hover{
                        color: #4a5366;
                    }
		    }

		    ul{
		    	padding:0 0 0 2rem;
		    }
	    }
    }
    @media (map-get($rd-types, md)){

        transform: translate3d(0, 0, 0);
        height:auto;
        position: relative;
        z-index:0;
        padding:4rem 1rem 1rem 1rem;
        width: 30%;
        flex: 1 0 auto;


        div{
           max-width: 14rem;
            position:fixed;
            right:2rem;
        }

        ul{
            padding:0;
        }
    }
}


.btn_submenu{
	display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
   
    top: auto;
    right: 1.5rem;
    bottom: 2rem;
    padding: 0.5rem;
    width: 5.6rem;
    height: 5.6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
    background-color: $ev-orange;
    z-index: 100;

     .hamb{
     	.inner, &::before, &::after{
     		background:$ev-white;
     	}
     }

    @media (map-get($rd-types, lg)){
    	display:none;
    }
}